#bodyWrapper{
    background:	#501b1d	;
}

#headerBox{
    text-align: center;
    line-height: 5px;
    background: #2E1114;
    color: #ADADAD;
}

#headerLine{
    font-family: 'Pacifico', cursive;

}

.schedule-container{
    padding: 25px
}
.schedule-hour{
  margin:10px;
  border-radius: 20px;
  color:#2E1114;
  padding-top: 12px;
  padding-bottom: 12px;
  
  
}
.schedule-plan{
    font-size: 18pt;
    font-family: 'Courgette', cursive;
    border: none;
    padding: 25px;
    color:whitesmoke;
    background:rgb(192, 165, 164);

    
}

.save{
  padding: 25px;
}
.time-of-day{
 /*font-family: 'Asap', sans-serif; */
 /*   font-family: 'Pacifico', cursive; */
    font-family: 'Permanent Marker', cursive;
    font-size:26pt;
    text-align:right;
    padding:25px;
    /*
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px black groove;
    border-top: 1px black ;
    border-bottom: 1px black groove;*/
}